// миксины для ширины экрана и текста

@import "./colors";
@import "./px_to_rem";

//large desktops and laptops
@mixin medium_desktop() {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

//medium desktops and portrait tablets
@mixin medium_desktop() {
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    @content;
  }
}

// portrait tablets and small desktops 
@mixin small_desktop() {
  @media screen and (min-width: 768px) and (max-width: 991px) {
    @content;
  }
}

// landscape phones and portrait tablets
@mixin tablets() {
  @media screen and (max-width: 767px) {
    @content;
  }
}

// landscape phones and smaller
@mixin phones() {
  @media screen and (max-width: 480px) {
    @content;
  }
}

// phones portrait
@mixin small_phones() {
  @media screen and (max-width: 320px) {
    @content;
  }
}


@mixin header_menu {
  font-family: 'sans semibold';
  font-size: rem(20px);
  line-height: rem(22px);
  color: $black;
}

@mixin main_title {
  font-family: 'sans semibold';
  font-size: rem(60px);
  color: $white;
  letter-spacing: rem(5px);
}

@mixin home_text {
  font-family: 'sans regular';
  font-size: rem(22px);
  color: $white;
  letter-spacing: rem(1px);
}

@mixin button_home {
  font-family: 'roboto bold';
  font-size: rem(20px);
  color: $white;
}



