
@mixin header_menu {
  font-family: 'sans semibold';
  font-size: rem(20px);
  line-height: rem(22px);
  color: $black;
}

@mixin main_title {
  font-family: 'sans semibold';
  font-size: rem(60px);
  color: $white;
  letter-spacing: rem(5px);
}

@mixin title {
  font-family: 'sans bold';
  font-size: rem(30px);
  color: $black;
}

@mixin home_text {
  font-family: 'sans regular';
  font-size: rem(22px);
  color: $white;
  letter-spacing: rem(1px);
}

@mixin section_paragraph {
  font-family: 'sans bold';
  font-size: rem(15px);
  line-height: rem(22px);
  color: $black;
  text-align: center;
}

@mixin advantage_name {
  font-family: 'sans semibold';
  font-size: rem(20px);
  color: $black;
}

@mixin advantage_text {
  font-family: 'sans regular';
  font-size: rem(15px);
  color: $black;
  text-align: center;
}

@mixin button_home {
  font-family: 'roboto bold';
  font-size: rem(20px);
  color: $white;
}

@mixin button_services {
  font-family: 'sans semibold';
  font-size: rem(20px);
  color: $black;
}

@mixin button_prices {
  font-family: 'sans semibold';
  font-size: rem(20px);
  color: $black;
}

@mixin slide_description {
  font-family: 'sans semibold';
  line-height: rem(22px);
  color: $white;
}

@mixin prices_plan {
  font-family: 'sans regular';
  font-size: rem(25px);
  color: $white;
}

@mixin prices_price {
  font-family: 'sans regular';
  font-size: rem(50px);
  color: $white;
}

@mixin prices_includes {
  font-family: 'sans light';
  font-size: rem(17px);
  color: $black;
}

@mixin member_name {
  font-family: 'sans semibold';
  font-size: rem(20px);
  color: $black;
  
}

@mixin member_position {
  font-family: 'sans regular';
  font-size: rem(15px);
  color: $black;
}

@mixin blog_link {
  font-family: 'sans semibold';
  font-size: rem(25px);
  color: $black;
}

@mixin blog_data {
  font-family: 'sans semibold';
  font-size: rem(17px);
  color: $black;
}

@mixin blog_text {
  font-family: 'sans regular';
  font-size: rem(15px);
  color: $black;
}