.button {
  padding: rem(25px) rem(43px);
  background-color: $green;
  @include button_home;
  border: 3px solid $green;
  &:hover {
    border: 3px solid $green;
    background-color: $white;
    color: $black;
  }
  &:active {
    border: 3px solid $white;
    background-color: $green;
    color: $black;
  }
}

.home-content__services.button {
  background-color: transparent;
  border: 3px solid $white;
  &:hover {
    border: 3px solid $green;
    background-color: $white;
    color: $black;
  }
  &:active {
    border: 3px solid $green;
    background-color: $white;
    color: $black;
  }
}

.service__button.button {
  @include button_services;
  padding: rem(18px) rem(12px);
  background-color: transparent;
  border: 2px solid $black;
  &:hover {
    border: 2px solid $black;
  }
  &:active {
    border: 2px solid $black;
  }
}

.gallery__button.button {
  align-self: center;
  padding: rem(25px) rem(59px);
  
  &:hover {
    border: 3px solid $black;
  }
  
  &:active {
    border: 3px solid $black;
  }
}